fastapi==0.111.0
uvicorn[standard]==0.29.0
websockets==12.0
python-multipart==0.0.9
opencv-python-headless==4.9.0.80
mediapipe==0.10.11
tensorflow-cpu==2.16.1
language-tool-python==2.8
pyspellchecker==0.8.1
numpy==1.26.4
nltk==3.8.1
gtts==2.5.1
deep-translator==1.11.4
pydantic==2.7.1
